#menu { /* background-image: url("../imgs/mgr_banner2.jpg"); */
	background-color: #eee;
}

#menu .pure-menu-selected,#menu .pure-menu-heading {
	background: #666666;
    height: 80px;
    line-height: 80px;
    font-size: 26px;
    padding: 0px 0px;
    text-align: center;
        position: relative;
}

.pure-menu-list li:HOVER {
	cursor: auto;
	/* background-color: #3B3D3E; */
}

.pure-menu-list-second {
	margin-left: -20px;
	padding-left: 20px;
}

.pure-menu-link {
	color: black;
}

ul li label {
	width: 100%;
}

table tr td {
	text-align: center;
}

.table .table-striped .table-bordered>td{
	padding: 5px;
	font-size: small;
}

.header {
	margin-bottom: 10px;
	height: auto;
	/* 	background-color: lightslategray;
	background-image: url("../imgs/mgr_banner2.jpg");
	background-repeat: no-repeat;
	background-position: 0 0; */
}

.cus_required {
	color: red;
}

.cus_active { /* background-color: #3B3D3E; */
	/* color: rgb(105, 185, 112); */
	color: #6699CC;
	font-weight: bold;
}

.cus_tip {
	background-color: rgb(230, 230, 230);
	height: 120%;
	border-radius: 5px 5px;
	color: #3e443c;
	margin-bottom: 10px;
}

.cus_page {
	background-color: rgb(230, 230, 230);
	height: 120%;
	border-radius: 5px 5px;
	color: gray;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
}

.cus_list_btn {
	text-align: left;
	margin-top: -25px;
}

#add_div {
	border-left: 1px solid rgb(230, 230, 230);
	border-right: 1px solid rgb(230, 230, 230);
	min-height: 366px;
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
	font-size: 50%;
}

.pure-form div {
	margin-top: 2px;
}

.cus_btn1 {
	width: 100px;
	height: 100px;
	border-radius: 50px 50px;
	background: url('../imgs/mgr_banner2.jpg');
	background-position: -1020px -115px;
	text-shadow: 0px 5px 0px aqua;
	border: 1px solid;
}

.cus_labels {
	margin-top: 10px;
}

.cus_label {
	border: 1px solid green;
	min-width: 100px;
	text-align: center;
}

.fa-toggle-on {
	color: green;
	cursor: pointer;
}

.fa-toggle-off {
	cursor: pointer;
}

.cus_label_btn {
	background-color: #c5cccc;
}

.active {
	background-color: rgb(40, 119, 46);
	color: white;
}

.cus_welcome {
	margin-top: 25%;
	margin-left: 30%;
	font-size: 30px;
	font-family: cursive;
}
.cus_nav{
	height: 80px;
    background-color:#eeeeee;
    position: fixed;
    top: 0px;
    /* left:150px; */
    width: 100%;
    z-index: 999;
    border-bottom: 10px solid #eeeeee;
    border-top: 25px solid white;
}
#menu{
	background-color: #CCCCCC;
}
#main{
	margin-top: 80px;
}
.cus_mainTitle{
	height: 45px;
    line-height: 45px;
    width: 150px;
    text-align: center;
    font-size: 24px;
    border-right: 2px solid gray;
	
}

.cus_head_label1{
	height: 40px;
    line-height: 40px;
    position: absolute;
    left: 20px;
    font-size: 32px;
}
.cus_head_label2{
	height: 40px;
    line-height: 40px;
    position: absolute;
    right: 20px;
    bottom: 2px;
     font-size: 32px;
}
.cus_area{
	float: right;
	margin-right: 100px;
	margin-top: 5px;
}

.cus_search_table td{
	text-align: center;
	width: 50%;
	
}

.pure-menu-item label{
	cursor: pointer;
}
