
/**文章列表页面的样式修改*/
.vic_posts{
	margin-top: 2px;
	margin-bottom: 0px;
}
.vic_post{
	position:relative;
	height:160px;
    border-bottom: 1px solid #eee;
}
.vic_post .vic_p_pic img{
	width: 200px;
	height: 150px;
	position: absolute;
	background-image: url("../imgs/default.jpg");
	right: auto;
}
.vic_post .vic_p_title{
	position: absolute;
	left: 210px;
}
.vic_post .vic_p_desc{
	position: absolute;
	line-height: 25px;
	height: 100px;
	max-width: 580px;
	left: 210px;
	top: 60px;
}
.vic_post .vic_p_more{
    margin-right: 20px;
    /* border: 1px solid red; */
    padding: 5px;
    background-color: #83a4c3;
    border-radius:4px 4px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.vic_post .vic_p_more:HOVER{
	cursor: pointer;
	box-shadow:2px 2px 1px;
	background-color: #FF6666;
}

.vic_post .vic_p_info{
	position: absolute;
	top:30px;
	left: 210px;
}

.cus_page{
/* 	float: right;
	margin-right: 50px; */
}

/** 面包屑导航栏  **/
.vic_post_header .vic_header1 a:nth-child(1){
   	color: #0b58a5;
   	font-size: 18px;
}
.vic_post_header .vic_header1 a:nth-child(2){
   	color: brown;
}
.vic_post_header .vic_header1 a:nth-child(3){
   	color: green;
}